{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "wildcard",
    [
      "inline-import-data-uri", {
      "extensions": [
        ".jpg",
        ".png"
      ]
    }]
  ]
}
